body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
#background {
  width: 100%;
  height: 100vh;
  background-image: url('../media/healthyheart.jpg');
  background-size: cover;
  background-position: center;
}
.box {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
}
p {
  padding-bottom: 10px;
  color: #fff;
  margin: 10px 0;
  font-family: mohave;
  font-size: 16px;
}
form {
  padding-bottom: 5px;
  color: #fff;
  margin: 10px 0;
  text-align: left;
  font-size: 13px;
}
label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}
input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  display: block;
  border-radius: 30px 0px 60px 25px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
  padding-top: 5px;
  font-size: 11px;
}
.checkbox-label input[type="checkbox"] {
  display: none;
}
.checkbox-label .checkmark {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}
.checkbox-label input[type="checkbox"]:checked + .checkmark {
  background-color: #00cc55;
  border: 2px solid #00cc00;
}
.checkbox-label input[type="checkbox"]:checked + .checkmark:after {
  content: '\2716';
  display: block;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  position: absolute;
}
button#signup-button {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}
button#signup-button:hover {
  background: linear-gradient(to left, #ff6a00, #ee0979);
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    padding-bottom: 10px;
    color: #fff;
    margin: 10px 0;
    font-family: mohave;
    font-size: 20px;
  }
  form {
    padding-bottom: 5px;
    color: #fff;
    margin: 10px 0;
    text-align: left;
    font-size: 15px;
  }
  .checkbox-label {
    display: flex;
    align-items: center;
    margin: 5px 0;
    position: relative;
    padding-top: 5px;
    font-size: 15px;
  }
}